body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    font-family: Arial;
}
.cal{
    width: 300px;
    font-size: 20px;
}

.font{
    font-size: 20px;
    margin: 5px;
    
}
input{
    width: 100%;
    padding-top: 10px;
    margin-bottom: 3px;
    text-align: right;
}


button {
    width: 60px;
    height: 35px;
    font-size: 12px;
    margin: 5px;
}
button:hover{
    color: rgb(22, 21, 21);
    background-color:rgb(193, 184, 184);
}
